<div class="row artRow">
	<div class="col-2">
		<button class="btn btn-outline-success ripeBtn" data-id="{{_id}}">Ripe</button>
	</div>

	<div class="col-8">
		<a href="{{link}}"><span class="artTitle">{{title}}</span></a>
	</div>

	<div class="col-2">
		<button class="btn btn-outline-danger rancidBtn" data-id="{{_id}}">Rancid</button>
	</div>
		
</div>
